<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>OCR图像批量识别</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="static/pdf.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            // =============
            let canvas = document.getElementById('myCanvas');
            let ctx = canvas.getContext('2d');
            let x0, y0; // 记录起始点坐标
            let x1, y1; // 结束点坐标

            $("#myCanvas").mousedown(function (e) {
                x0 = e.offsetX;
                y0 = e.offsetY;
            })

            $("#myCanvas").mouseup(function (e) {
                x1 = e.offsetX;
                y1 = e.offsetY;
                let width = Math.abs(x1 - x0);
                let height = Math.abs(y1 - y0);
                ctx.beginPath()
                ctx.lineWidth = 1;
                ctx.strokeStyle = '#f00';
                ctx.rect(x0, y0, width, height);
                ctx.stroke();
                rects = $("#rects").val()
                if (rects) {
                    rects += '; ' + `${x0},${y0},${x1},${y1}`
                } else {
                    rects = `${x0},${y0}, ${x1}, ${y1}`
                }
                $("#rects").val(rects)
                console.log(`矩形坐标：(${x0},${y0}, ${x1}, ${y1}), 宽:${width},高:${height}`);
            })
            // ===============

            let step = 10

            $('#small').click(function (event) {
                value = $('#zoom').val()
                value = parseInt(value) - step
                if (value < 10) {
                    value = 10
                }
                $('#zoom').val(value)
                renderPage()
            })

            $('#large').click(function (event) {
                value = $('#zoom').val()
                value = parseInt(value) + step
                if (value > 300) {
                    value = 300
                }
                $('#zoom').val(value)
                renderPage()
            })

            var pdf = undefined
            var image = undefined

            $("#file").change(function (event) {
                pdf = undefined
                image = undefined
                $('#zoom').val(100)
                $("#pages option").remove();
                $("#rects").val('')
                f = event.target.files[0]
                if (f.type.match('pdf.*')) {
                    var reader = new FileReader();
                    reader.onload = function (ev) {
                        var uint8Array = new Uint8Array(ev.target.result)
                        console.log(uint8Array)
                        // 使用pdf.js加载PDF文件
                        pdfjsLib.getDocument(uint8Array).promise.then(function (p) {
                            pdf = p
                            for (i = 1; i <= pdf.numPages; i++) {
                                $("#pages").append("<option value='" + i + "'>" + i + "</option>");
                            }
                            renderPage()
                        });
                    };
                    reader.readAsArrayBuffer(f);
                } else {
                    var reader = new FileReader();
                    reader.onload = function (ev) {
                        $("#pages option").remove();

                        image = new Image();
                        image.src = ev.target.result;

                        image.onload = function () {
                            $("#pages").append("<option value='" + 1 + "'>" + 1 + "</option>");
                            renderPage()
                        };
                    };
                    reader.readAsDataURL(f);
                }

            });

            $('#pages').change(function () {
                renderPage()
            })

            function renderPage() {
                var canvas = document.getElementById('myCanvas');
                if (pdf) {
                    // 获得该PDF的第一页
                    let currentPage = parseInt($("#pages").val())
                    pdf.getPage(currentPage).then(function (page) {
                        var scale = (parseInt($('#zoom').val()) / 100.0);
                        var viewport = page.getViewport({scale: scale,});
                        // Support HiDPI-screens.
                        var outputScale = 1;

                        var context = canvas.getContext('2d');

                        canvas.width = Math.floor(viewport.width * outputScale);
                        canvas.height = Math.floor(viewport.height * outputScale);
                        canvas.style.width = Math.floor(viewport.width) + "px";
                        canvas.style.height = Math.floor(viewport.height) + "px";

                        var transform = outputScale !== 1
                            ? [outputScale, 0, 0, outputScale, 0, 0]
                            : null;

                        var renderContext = {
                            canvasContext: context,
                            transform: transform,
                            viewport: viewport
                        };
                        page.render(renderContext);
                    });
                }
                if (image) {
                    let zoomRatio = (parseInt($('#zoom').val()) / 100.0)
                    let imgWidth = image.width * zoomRatio;
                    let imgHeight = image.height * zoomRatio;
                    canvas.width = imgWidth;
                    canvas.height = imgHeight;
                    var ctx = canvas.getContext("2d");
                    ctx.drawImage(image, 0, 0, imgWidth, imgHeight);
                }
            }

        })
    </script>
</head>
<body>
<form role="form" action="ocr" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label for="rects">(可选)区域坐标合集</label>
        <input type="text" class="form-control" id="rects" name="rects" readonly="readonly"
               placeholder="批量读取每页的坐标块，加载图像后,通过鼠标框选自动加入">
        <p class="help-block">示例(多个块坐标使用;分隔):
            4796,3801,5617,3978;5728,4142,6408,4243。如果不填默认识别整页内容</p>
    </div>
    <div class="form-group">
        <label for="inputfile">(必填)请选择单页或多页图像文件</label>
        <input type="file" id="file" name="file">
        <p class="help-block">支持的类型有: (*.jpg *.bmp *.jpeg *.png *.psd *.pef *.orf *.tiff *.dng *.pdf)。</p>
    </div>
    <div class="form-group">
        <label for="zoom">(可选)缩放比例</label>
        <input type="text" class="form-control" id="zoom" name="zoom" value="100"
               placeholder="请输入缩放比例: 100 为原图比例,注意缩放跟块坐标要匹配。">
        <p class="help-block">示例: 原图为100、放大一倍为200、缩小一倍为50，以此类推。</p>
    </div>
    <!--	<div class="checkbox">-->
    <!--		<label>-->
    <!--			<input type="checkbox"> 请打勾-->
    <!--		</label>-->
    <!--	</div>-->
    <button id="sub" type="submit" class="btn btn-default">提交</button>
    <button id="small" type="button" class="btn btn-default">缩小</button>
    <button id="large" type="button" class="btn btn-default">放大</button>
    页码: <select id="pages" name="page"></select>
    &nbsp;&nbsp;<a href="https://file.yj2025.com/files.zip" target="_blank">下载示例文件</a>
</form>
<div class="form-group">
    <p class="help-block">可以通过在下面的图像上面用鼠标画定指定的矩形区域来识别，支持多个区域的识别。</p>
</div>
<canvas id="myCanvas"></canvas>
</body>
</html>