<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>OCR图像批量识别</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="static/pdf.js"></script>
    <script src="static/pdf.worker.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            // =============
            let canvas = document.getElementById('myCanvas');
            let ctx = canvas.getContext('2d');
            let x0, y0; // 记录起始点坐标
            let x1, y1; // 结束点坐标

            $("#myCanvas").mousedown(function (e) {
                x0 = e.offsetX;
                y0 = e.offsetY;
            })

            $("#myCanvas").mouseup(function (e) {
                x1 = e.offsetX;
                y1 = e.offsetY;
                let width = Math.abs(x1 - x0);
                let height = Math.abs(y1 - y0);
                ctx.beginPath()
                ctx.lineWidth = 2;
                ctx.strokeStyle = '#f00';
                ctx.rect(x0, y0, width, height);
                ctx.stroke();
                rects = $("#rects").val()
                if(rects) {
                    rects += ';' + `${x0},${y0},${x1},${y1}`
                }else {
                    rects = `${x0},${y0}, ${x1}, ${y1}`
                }
                $("#rects").val(rects)
                console.log(`矩形坐标：(${x0},${y0}, ${x1}, ${y1}), 宽:${width},高:${height}`);
            })
            // ===============


            $("#file").change(function (event) {
                f = event.target.files[0]
                var canvas = document.getElementById('myCanvas');
                if (f.type.match('pdf.*')) {
                    var reader = new FileReader();
                    reader.onload = function (ev) {
                        var uint8Array = new Uint8Array(ev.target.result)
                        console.log(uint8Array)
                        // 使用pdf.js加载PDF文件
                        pdfjsLib.getDocument(uint8Array).promise.then(function (pdf) {
                            // 获得该PDF的第一页
                            pdf.getPage(1).then(function (page) {
                                var scale = 1;
                                var viewport = page.getViewport({scale: scale,});
                                // Support HiDPI-screens.
                                var outputScale = 1;

                                var context = canvas.getContext('2d');

                                canvas.width = Math.floor(viewport.width * outputScale);
                                canvas.height = Math.floor(viewport.height * outputScale);
                                canvas.style.width = Math.floor(viewport.width) + "px";
                                canvas.style.height = Math.floor(viewport.height) + "px";

                                var transform = outputScale !== 1
                                    ? [outputScale, 0, 0, outputScale, 0, 0]
                                    : null;

                                var renderContext = {
                                    canvasContext: context,
                                    transform: transform,
                                    viewport: viewport
                                };
                                page.render(renderContext);
                            });
                        });
                    };
                    reader.readAsArrayBuffer(f);
                } else {
                    var reader = new FileReader();
                    reader.onload = function (ev) {
                        var image = new Image();
                        image.src = ev.target.result;

                        image.onload = function () {
                            canvas.width = image.width;
                            canvas.height = image.height;
                            var ctx = canvas.getContext("2d");
                            ctx.drawImage(image, 0, 0);
                        };
                    };
                    reader.readAsDataURL(f);
                }

            });

        })
    </script>
</head>
<body>
<form role="form" action="ocr" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label for="rects">(可选)区域坐标合集</label>
        <input type="text" class="form-control" id="rects" name="rects"
               placeholder="请输入要按页读取的多个块区域坐标(x0,y0,x1,y1)">
        <p class="help-block">示例(多个块坐标使用;分隔):
            4796,3801,5617,3978;5728,4142,6408,4243。如果不填默认识别整页内容</p>
    </div>
    <div class="form-group">
        <label for="inputfile">(必填)请选择单页或多页图像文件</label>
        <input type="file" id="file" name="file">
        <p class="help-block">支持的类型有: (*.jpg *.bmp *.jpeg *.png *.psd *.pef *.orf *.tiff *.dng *.pdf
            *.tif)。</p>
    </div>
    <div class="form-group">
        <label for="zoom">(可选)缩放比例</label>
        <input type="text" class="form-control" id="zoom" name="zoom"
               placeholder="请输入缩放比例: 100 为原图比例,注意缩放跟块坐标要匹配。">
        <p class="help-block">示例: 原图为100、放大一倍为200、缩小一倍为50，以此类推。</p>
    </div>
    <!--	<div class="checkbox">-->
    <!--		<label>-->
    <!--			<input type="checkbox"> 请打勾-->
    <!--		</label>-->
    <!--	</div>-->
    <button id="sub" type="submit" class="btn btn-default">提交</button>
</form>
<canvas id="myCanvas"></canvas>
</body>
</html>